.root {
     -fx-background-image: url("bg.png");
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #FAFAFA;
}

#welcome-text {
   	-fx-font-size: 32px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #818181;
}

#actiontarget {
	-fx-font-size: 12px;
  	-fx-fill: #FE2E2E;
  	-fx-font-weight: bold;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}